---
import Base from '@/layouts/Base.astro';
import Player from '@/components/Player';
import { listAvailableEvents, importConfig } from '@/utils/importer';

interface Props {
  config: ConfigType;
}

export async function getStaticPaths() {
  const eventList = listAvailableEvents();
  const res = [];
  for (const event of eventList) {
    const config = await importConfig(event);
    res.push({ params: { id: event }, props: { config } });
  }
  return res;
}

const { config } = Astro.props;
---

<Base title={config.title}>
  <Player {...config} client:only />
</Base>
