---
import Base from '@/layouts/Base.astro';
import Player from '@/components/Player';

import { importConfig } from '@/utils/importer';
const config = await importConfig('index');
---

<Base title={config.title}>
  <Player {...config} client:only />
</Base>
