body {
  background: #1b1c1d !important;
}

.video-container {
  background-color: #343434 !important;
}

.live-image-plugin {
  position: absolute;
  top: 5px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  max-height: 5%;
}

.video-player {
  width: 100%;
  height: auto;
}
