---
import Header from '@/components/Header';
import Footer from '@/components/Footer';
import { Container, Form, Grid, Segment } from 'semantic-ui-react';

import 'semantic-ui-css/semantic.min.css';
import '@/index.css';

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <link rel="manifest" href="/manifest.json" />
    <title>Webcast Website</title>
  </head>
  <body>
    <Container>
      <Grid columns={1} padded>
        <Grid.Row>
          <Grid.Column>
            <Header title={title} client:only />
            <slot />
            <Segment inverted>
              <Form inverted readOnly>
                <p>Click on the video to start/pause the stream</p>
              </Form>
            </Segment>
            <Footer />
          </Grid.Column>
        </Grid.Row>
      </Grid>
    </Container>

    <script type="text/javascript">
      var pkBaseURL =
        'https:' === document.location.protocol
          ? 'https://piwik.web.cern.ch/'
          : 'http://piwik.web.cern.ch/';
      document.write(
        decodeURI(
          "%3Cscript src='" +
            pkBaseURL +
            "piwik.js' type='text/javascript'%3E%3C/script%3E",
        ),
      );
    </script>
    <script type="text/javascript">
      try {
        var piwikTracker = Piwik.getTracker(pkBaseURL + 'piwik.php', 5711);
        piwikTracker.trackPageView();
        piwikTracker.enableLinkTracking();
      } catch (err) {}
    </script>
    <noscript>
      <p>
        <img
          src="http://piwik.web.cern.ch/piwik.php?idsite=5711"
          style="border: 0"
          alt=""
        />
      </p>
    </noscript>
    <!-- End Piwik Tracking Code -->
  </body>
</html>
